<!doctype html>
<html>
	<body style="background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;">
		<form action='/profile1/' method='post'>
			<div style="margin-top: 20%; margin-left: 40%; ">
				<h3>Enter Your public IP</h3>
				<input type='txt' name='ip' placeholder="Enter your public IP"
				style='height: 20px; width: 180px;'>
				<br><br>
				<input type='submit' value="submit" style="margin-left: 58px;">
			</div>
		</form>
	</body>
</html>
